
.maze {
  border-collapse: collapse;

  td {
    width: 10px;
    height: 10px;
    border-width: 0;
    border-style: solid;
    border-color: #000
  }

  td.s {
    background-color: #0a5;
  }

  td.e {
    background-color: #a0f
  }

  td.t {
    border-top-width: 2px;
  }

  td.r {
    border-right-width: 2px;
  }

  td.b {
    border-bottom-width: 2px;
  }

  td.l {
    border-left-width: 2px;
  }
}